/* COMMON */
.my_grey_bg{
    background-color: #e9e9ed;
}
.my_grey_borders{
    border: 2px solid #b5b5bf;
}

/* HEADER */
.select_wrapper{
    gap: .5rem;
}


/* MAIN */
main{
    height: calc(100vh - 145px);
    background-color: #7fffd4;
}
.game_wrapper{
    width: 600px;
    height: 600px;
    border: 2px solid black;
}
option.active{
    color: red;
}
.easy{
    width: calc(10%);
    height: calc(10%);
}
.medium{
    width: calc(100% / 9);
    height: calc(100% / 9);
}
.hard{
    width: calc(100% / 7);
    height: calc(100% / 7);
}
.box{
    border: 1px solid black;
}

/* FOOTER */

