/* COMMON */
.my_grey_bg{
    background-color: #e9e9ed;
}
.my_grey_borders{
    border: 2px solid #b5b5bf;
}

/* HEADER */
.select_wrapper{
    gap: .5rem;
}
header h1{
    font-size: 15px;
}
.start_button{
    font-size: .875rem;
}
.start_button:focus{
    box-shadow: none;
}
.form-select:focus{
    box-shadow: none;
    border-color: #b5b5bf;
}


/* MAIN */
main{
    height: calc(100vh - 145px);
    background-color: #7fffd4;
}
.game_wrapper{
    width: 600px;
    height: 600px;
    border: 1.5px solid black;
}
.game_wrapper.borders_fix{
    border: none;
}
option.active{
    color: red;
}
.easy{
    width: calc(10%);
    height: calc(10%);
}
.medium{
    width: calc(100% / 9);
    height: calc(100% / 9);
}
.hard{
    width: calc(100% / 7);
    height: calc(100% / 7);
}
.box{
    border: 1.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box.active{
    background-color: #6495ed;
}

/* FOOTER */


/* MEDIA */
/* Fix per l'h1 nell'header */
@media screen and (min-width: 680px){
    header h1{
        font-size: 20px;
    }
}
@media screen and (min-width: 1050px){
    header h1{
        font-size: 35px;
    }
}